.main{
    margin :1.5rem 0rem;
    //border:1px solid red;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.statContainer{
    display:flex;
    flex-direction:column;
    border-left:2px solid #014f86;
    padding:20px 20px;
    justify-content: space-around;

}
.statContainer h3,.statContainer1 h3{
    //font-size:2rem;
    font-weight:bold;
    color:#0466C8;
    //border-right:1px solid black;
}

.statsContainer{
    display:flex;
    text-align: left;
    align-items: center;
    justify-content: center;
}
/*.statContainer p , .statContainer1 p{
    font-size: 1.5rem;
}*/
.statContainer1{
padding-right:10px;

}