.main{
    min-height:40vh;
   // border:1px solid red;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:center;
    margin-bottom:4rem;
    margin-top:3rem;
    //background-color: #012a4a;
}
.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:center;
   // width:70%;
    //margin:4rem;
   // border:1px solid green;
}
.aboutContainer
{
    display:flex;
    //border:1px solid purple;
    justify-content: center;
    align-items: center;
    text-align:center;
    //background-color: #A9D6E5;
    color:white;
    border:none;
    //width:60%;
}
.descriptionTitle{
    padding-top:10px;
    font-weight:bold;
}
.aboutDescription{
    //padding:0px 10px;
    //border:2px dashed orange;
    //margin-right:2rem;
    //margin-left:2rem;
    width:60%;
   
}
.aboutTitle{
   // font-size:3rem;
    font-weight:700;
    margin:2rem 0rem;
    color:#014f86;
}
