.main{
    display: flex;
    flex-direction: column;
    text-align:center;
    align-items: center;
    justify-content: center;
    min-height:60vh;
    margin-bottom:2rem;
    margin-top:1rem;
}
.contactDetails{
    display: flex;
    gap:2rem;
    text-align:center;
    align-items: center;
}
.contactIcon{
    display: flex;
    flex-direction: column;
    align-items:center;
    flex-wrap: wrap;
    border:1px solid #014f86;
    border-radius:10px;
    padding:20px 10px;
    width:240px;
}
.contactIcon:hover{
    border:2px solid #014f86;
    padding:20px 10px;
     width:240px;
}
.contactIcon svg{
    border-radius: 50%;
    background-color:#014f86;
    padding:14px;
    color:white;
    font-size: 3.2rem;
}
.contactIcon h3{
    padding:10px 0px;
    font-weight: bold;
    font-size: 1.2rem;
    color:#014f86;
}
.formContainer{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    //border:1px solid red;
    //width:40%;
    margin: 2rem 0rem;
}
.inputContainer{
    display:flex;
    flex-direction: column;
   // border:1px solid purple;
    //width:50%;
}
.inputFieldContainer{
display:flex;
gap:20px;
}
.inputFieldContainer input{
   padding:10px 4px;
   border:1px solid #014f86;
   border-radius:6px;
   margin:0.5rem 0rem;
}
.inputMessage{
   // border:1px solid orange;
   display:flex;
   flex:column;
    text-align: left;
    align-items: center;
    justify-content:center;
    width:100%;
 // border:1px solid purple;
}
.inputMessage input{
    padding:10px 4px;
    border:1px solid #014f86;
    border-radius:7px;
    margin:0.5rem 0rem;
    width:100%;
}
.contactTitle{
    //font-size:3rem;
    font-weight:700;
    margin:2rem 0rem;
    color:#014f86;
}
.formButton{
    background-color: #014f86;
    color:white;
    padding:10px 20px;
    //width:20%;
    font-size:20px;
    margin-top:1rem;
    margin-bottom:1rem;
    border-radius: 12px;
  }
  .formButton:hover{
    background-color: #468FaF;
  }