.main{
    min-height:30vh;
    //border:1px solid pink;
    background-color: #013a63;
    color:white;
    padding-bottom:1rem;
}
.main h3{
    font-weight:bold;
}
.footerContainer{
    display:flex;
    padding:1.2rem;
}
.footerLinks{
    display:flex;
    flex-direction: column;
    gap:10px;
    margin-right:3rem;
}
.copyright{
    border-top:1px solid #04121c;
    margin:1rem;
    padding-top:1rem;
    text-align:center;
}
.footerHeading{
    margin-right:2rem;
    font-weight:bold;
    font-size:1.6rem;
    width:25%;
    //border:1px solid red;
}
.footerHeading p{
    font-size:1rem;
    padding:10px 5px;
    font-weight:normal;
    text-align: left;

}
.footerHeading svg{
    align-items: center;
    justify-content: center;
    text-align:center;
    margin-left:10px;
    font-size:1.7rem;
}